:root{

    /*Color*/
        --place_blue:hsl(225, 100%, 94%);
        --place_blue-opaco:hsl(225 100% 94% / .2);
        --Bright_blue: hsl(245, 75%, 52%);
        --Very_pale_blue:hsl(225, 100%, 98%);
        --Desaturated_blue:hsl(224, 23%, 55%);
        --Dark_blue: hsl(223, 47%, 23%);
        --white:white;

    /*Font*/
        /*Weights*/
            --fw-normal:500;
            --fw-medium:700;
            --fw-blod:900;

    /*Border*/
        /*Radius*/
            --br-zise:10px;

    /*box*/
        /*shadow*/
            --bs-shadow-style: 0px 5px 10px rgb(0 0 0 / .5);



    /* - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display) */
/* - Weights: 500, 700, 900 */
}



*{
    box-sizing: border-box;
} 
body{
    /*Order css properties*/
        /*Display & Box model*/
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            
        /*Color & background*/
            background-image: url("/images/pattern-background-mobile.svg");
            background-color: var(--place_blue);
            background-repeat: no-repeat;
        
        /*Text*/
            font-size: 16px;
            font-family: 'Red Hat Display', sans-serif;
            
}


.card{
    width: 320px;
    box-shadow: var(--bs-shadow-style)
    ;
    border-radius: var(--br-zise);
    background-color:var(--white);
}
.header img{
    border-top-left-radius: var(--br-zise);
    border-top-right-radius: var(--br-zise);
    max-width: 100%;
    display: block;
}

.header ~ * {
    padding-left: 1em;
    padding-right: 1em;

}
.plan__title, .card__title{
    color:var(--Dark_blue);
    font-weight: var(--fw-blod);
}
.card__title{
    font-size: 1.4rem;
   

}

.card__text, .card__title{
    text-align: center;
}

.card__text, .plan__price, .card__link{
    font-weight: var(--fw-medium);
    opacity: .5;
    color: var(--Desaturated_blue);
}
.card__text{
    padding-right: 3em;
    padding-left: 3em;
    line-height: 1.5;
    font-size: .9rem;

}

.plan{
    display: flex;    
    width: 260px;
    height: 70px;
    margin: 0 auto;
    border-radius: var(--br-zise);
    gap: 20px;
    background-color: var(--place_blue-opaco);
}

.plan__icon{
    max-width: 40%;
    height: 50px;
    align-self: center;
}


.plan__title{
    font-size: 1rem;
    margin-bottom: 1px;
   
}

.plan__link{
    color: var(--Bright_blue);
}
.plan__price, .plan__link{
  font-size: .8rem;
}
.plan__link{
    color: var(--Bright_blue);
    grid-column:  3 / 4;
    grid-row: 1 / 4;
    align-self: center;
}

.card__button{
    appearance: none;
    cursor:pointer;
    
    
    /*Display & box model*/
        width: 80%;
        display: block;
        margin: 1em  auto;
        border-style: none;
        border-radius: var(--br-zise);
        box-shadow: var(--bs-shadow-style);
        outline: none;
        padding: 1em;
    /*Background & color*/
        background-color: var(--Bright_blue);
        color: var(--white);

    /*text*/
        font-size: 1rem;

    /*Other*/
         appearance: none;
        cursor:pointer;
}
.card__button:hover{
    opacity: .5;
}
.card__link:hover{
    color: var(--Dark_blue);
    opacity: 10;
}
.card__button:hover, .card__link:hover{
    transition: all 0.2s;

}
.card__link{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 1.2em 0;
    font-size: 1rem;
}


@media  screen and (min-width:700px) {
    body{
        background-image: url("/images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        min-height: 100vh;
        background-size: contain;
  
    }
    .card{
        width: 420px;
    }
}